{%  extends '::layout.html.twig' %}

{% block body %}
	<div class="ui inverted fixed vertical menu custom_admin_vertical_menu">
		<a href="{{ path('app_admin_users') }}" class="{{ _route == 'app_admin_users' ? 'blue active ' }}item">Utilisateurs</a>
		<a href="{{ path('app_admin_apps') }}" class="{{ _route == 'app_admin_apps' ? 'blue active ' }}item">Applications</a>
	</div>
	<div class="custom_admin_container">
		<div class="ui basic inverted segment custom_admin_title">
			<h1 class="ui inverted grey center aligned header">{% block admin_title %}{% endblock %}</h1>
		</div>
		{% include '@App/_components/flash_messages.html.twig' %}
		{% block body_content %}{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}{{ parent() }}

{% endblock %}