{% extends '::layout.html.twig' %}

{% block body %}
	<div class="ui inverted fixed vertical accordion menu custom_admin_vertical_menu">
		<div class="item">
			<div class="title">Visualisation<i class="dropdown icon"></i></div>
			<div class="content">
				<a href="{{ path('app_home') }}" class="item">Accueil</a>
				<a href="{{ path('app_home_apps') }}" class="item">Applications</a>
				{% for application in getApps() %}
					<a href="{{ path('app_home_app_comments', {'name': application.name}) }}"
						 class="item">-> {{ application.name ~ ' - ' ~ application.version }}</a>
				{% endfor %}
			</div>
		</div>
	<a href="{{ path('app_admin_users') }}" class="{{ contain(_route, ['_user']) ? 'blue active ' }}item">Utilisateurs</a>
	<a href="{{ path('app_admin_apps') }}" class="{{ contain(_route, ['_app']) ? 'blue active ' }}item">Applications</a>
	<a href="{{ path('app_admin_comments') }}" class="{{ contain(_route, ['_comment']) ? 'blue active ' }}item">Commentaires</a>
	<a href="{{ path('app_home_signout') }}" class="item">Déconnexion</a>
	</div>
	<div class="custom_admin_container">
		{% include '@App/_components/flash_messages.html.twig' %}
		<div class="ui basic inverted segment custom_admin_title">
			<h1 class="ui inverted grey center aligned header">{% block admin_title %}{% endblock %}</h1>
		</div>
		{% block body_content %}{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}{{ parent() }}
	<script>
		$('.ui.accordion').accordion();
	</script>
{% endblock %}