{% set errorMsg = app.session.flashBag.get('error') %}
{% set successMsg = app.session.flashBag.get('success') %}
{% set noticeMsg = app.session.flashBag.get('notice') %}
{% set _route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}GPI GooglePlay comments{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	{% block stylesheets %}
		{% stylesheets '@css' %}
		<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
	{% endblock %}
</head>
<body>
<div id="app_vuejs">
	{% block body %}{% endblock %}
</div>
{% block javascripts %}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	{% include '@App/_components/environment.html.twig' %}
	{% javascripts '@javascript' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
</body>
