{% extends '@App/base.home.html.twig' %}

{% block title %}Détails de {{ application.name }}{% endblock %}

{% block body_content %}
	<div class="ui divided equal width grid custom_app_comment_grid">
		<div class="column">
			<div class="ui sticky centered card">
				<div class="image">
					<img src="{{ asset('images/android.svg') }}" alt="Android">
				</div>
				<div class="content">
					<div class="header">{{ application.name }}</div>
					<div class="meta">{{ application.version }}</div>
					<div class="description">{{ application.comment|raw }}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<commentary app-name="{{ application.name }}"></commentary>
			{#<h2 class="ui dividing header">Commentaires</h2>#}
			{#<div class="ui comments">#}
				{#{% for comment in comments %}#}
					{#<div class="ui raised segment comment custom_segment_comment">#}
						{#<a class="avatar">#}
							{#<img src="{{ asset('images/businessman.svg') }}">#}
						{#</a>#}
						{#<div class="content">#}
							{#{% if app.user.roles[0] == 'ROLE_ADMIN' %}#}
								{#<a href="{{ path('app_admin_comments', {'app_name': application.name, 'user_username': comment.user.username}) }}">{{ comment.user.username }}</a>#}
							{#{% else %}#}
								{#<span class="author">{{ comment.user.username }}</span>#}
							{#{% endif %}#}
							{#<div class="metadata">#}
								{#<span class="date">{{ comment.dtCreation|date('Y-m-d à H:i:s') }}</span>#}
							{#</div>#}
							{#<div class="text">{{ comment.content|nl2br|raw }}</div>#}
						{#</div>#}
					{#</div>#}
				{#{% else %}#}
					{#<div class="ui center aligned large header">Aucun commentaire</div>#}
				{#{% endfor %}#}
			{#</div>#}
		</div>
		<div class="column">
			<div class="ui sticky stacked segment">
				<h3 class="ui dividing header">Poster un commentaire</h3>
				{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
				{{ form_widget(form._token) }}
				<div class="two fields">
					<div class="field">
						{{ form_widget(form.dtCreation.children.date) }}
					</div>
					<div class="field">
						{{ form_widget(form.dtCreation.children.time) }}
					</div>
				</div>
				<div class="field">
					{{ form_widget(form.content) }}
				</div>
				<button class="ui positive button">Envoyer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{{ parent() }}
	<script>
		$('.ui.sticky').sticky({
			context: '.column',
			offset: 50
		});
	</script>
{% endblock %}